.group {
    padding: 0 20px 20px;
    border: 1px solid orange;
}

.clear_fix {
    *zoom: 1;
}

.clear_fix:after {
    content: "";
    display: block;
    clear: both;
}

/*评论*/
.comment:nth-child(odd) {
    border-bottom: 1px solid red;
}

.comment:nth-child(even) {
    border-bottom: 1px solid blue;
}

.comment > button {
    float: right;
}

/*count*/
.count {
    border: 1px solid gray;
    margin-top: 50px;
    padding: 8px;
}

/*search*/
.search {
    background: lightgray;
    margin-top: 20px;
    padding: 8px;
}

.search > input {
    width: 200px;
    margin: 0 8px;
}

/*用户*/
.users {
    border: 1px solid black;
    margin-top: 10px;
}

.user {
    float: left;
    width: 10%;
    text-align: center;
    border: 1px solid lightblue;
}

.user img {
    width: 50px;
    border-radius: 50px;
    margin-top: 10px;
}

/*router*/
.link {
    background: lightgray;
    margin-bottom: 20px;
    padding: 4px 8px;
}

.link > a {
    text-decoration: none;
    margin: 4px 8px;
}

.link > a:hover {
    color: white;
}

.link > a.active {
    border-bottom: 2px solid darkgray;
    color: white;
}

.detail {
    background: lightblue;
    padding: 8px;
    margin-bottom: 8px;
}