.user img {
    width: 50px;
    border-radius: 50px;
    margin-top: 10px;
}

.clear_fix {
    *zoom: 1;
}

.clear_fix:after {
    content: "";
    display: block;
    clear: both;
}

/*评论*/
.line:nth-child(odd) {
    border-bottom: 1px solid red;
}

.line:nth-child(even) {
    border-bottom: 1px solid blue;
}

.line > button {
    float: right;
}

/*search*/
.search {
    background: lightgray;
    margin-top: 50px;
    padding: 8px;
}

.search > input {
    width: 200px;
    margin: 0 8px;
}

/*用户*/
.users {
    border: 1px solid black;
    margin-top: 10px;
}

.user {
    float: left;
    width: 10%;
    text-align: center;
    border: 1px solid lightblue;
}

/*count*/
.count {
    border: 1px solid gray;
    margin-top: 50px;
    padding: 8px;
}