.march-header {
    background: white;
    width: 1000px;
    margin: 0 auto;
}

.march-header ul {
    display: inline-block;
    border-bottom: none;
}

.march-icon-space {
    margin-left: 10px;
}

.march-header .march-login-out {
    float: right;
    height: 64px;
    line-height: 64px;
}

.march-content {
    width: 1000px;
    margin: 0 auto;
    padding: 16px 0;
    /*height: 500px;*/
}